data/
data
data_0830/
data*.zip
*.zip
*io.txt
error.txt
miss*.txt
output.txt
token_count_in.txt
token_count_out.txt
*local.sh
*.DS_store
openchat*/
toolllama*/
ws/
.history/
reproduction_data*/
output/
*result/
result*/
__MACOSX/
api_test_results_with_docs.json
customized_api_test_results_with_docs.json
model_list.txt
run.bash
tool_data*
api_test_results*
api_details.json
api_details*
category_tool_details*
config.py
*dy.py
*dy.json
OAI_CONFIG_LIST
repos/
rapidapi_key_list.json
openai_utils_dy.py
.chroma/

*.pyc
**/__pycache__
.vscode/
.cache/42/
retrieval_model/
